body {
	margin: 0;
	font-family: 'Poppins', 'Lucida Sans', Geneva, Verdana, sans-serif;
	background-color: #121212;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.LogoContainer {
	position: absolute;
	top: -115px;
	left: 0;
	transform: translate(-50%, 0);
	animation: float 3s ease-in-out infinite;
	z-index: 2;
}

.Logo {
	max-width: 40px !important;
	width: 50% !important;
	height: auto;
	display: block;
}

@keyframes float {
	0%, 100% {
		transform: translate(-50%, 0);
	}
	50% {
		transform: translate(-50%, -10px);
	}
}

.FormularioPrincipal {
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	background-color: #1e1e2f;
	border-radius: 20px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
	padding: 30px;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
	padding-top: 50px;
}

.todo-counter {
	font-size: 1.8rem;
	margin-bottom: 20px;
	color: #4CAF50;
	font-weight: bold;
	text-align: center;
}

.todo-search {
	width: 80%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.todo-search input {
	width: 100%;
	padding: 12px;
	border: 2px solid #333;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	outline: none;
	font-size: 1rem;
	color: #ffffff;
	background-color: #2e2e40;
	transition: border-color 0.3s, box-shadow 0.3s;
}

.todo-search input::placeholder {
	color: #a3a3a3;
	font-style: italic;
}

.todo-search input:focus {
	border-color: #4CAF50;
	box-shadow: 0 0 10px rgba(76, 175, 80, 0.7);
}

.todo-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.todo-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #444;
	transition: background-color 0.3s ease;
}

.todo-item:last-child {
	border-bottom: none;
}

.todo-item:hover {
	background-color: #333;
}

.todo-item p {
	margin: 0;
	color: #ffffff;
}

.todo-item.completed p {
	text-decoration: line-through;
	color: #a2907c;
}

.todo-item span {
	font-size: 1.5rem;
	cursor: pointer;
}

.todo-item span:first-child {
	color: #4CAF50;
	transition: transform 0.2s ease;
}

.todo-item span:first-child:hover {
	transform: scale(1.2);
}

.todo-item span:last-child {
	color: #ff5252;
	transition: transform 0.2s ease;
}

.todo-item span:last-child:hover {
	transform: scale(1.2);
}

.create-todo-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background: #4CAF50;
	color: white;
	border: none;
	border-radius: 50%;
	font-size: 2rem;
	cursor: pointer;
	box-shadow: 0 8px 20px rgba(0, 255, 0, 0.5);
	transition: background 0.3s ease, transform 0.3s ease;
}

.create-todo-button:hover {
	background: #45a049;
	transform: scale(1.1) rotate(360deg);
}

.create-todo-button:active {
	transform: scale(0.95);
}

.ModalBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.ModalContent {
	background: #1e1e2f;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
	text-align: center;
	width: 90%;
	max-width: 400px;
}

.ModalContent h2 {
	margin-bottom: 20px;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.ModalContent textarea {
	width: 80%;
	height: 120px;
	padding: 12px;
	margin-bottom: 20px;
	border: 2px solid #444;
	border-radius: 10px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	background-color: #2e2e40;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
	transition: border-color 0.3s, box-shadow 0.3s;
	resize: none;
}

.ModalContent textarea:focus {
	border-color: #4CAF50;
	box-shadow: 0 0 10px rgba(76, 175, 80, 0.7);
	outline: none;
}

.ModalActions {
	display: flex;
	justify-content: space-between;
}

.ModalSaveButton,
.ModalCloseButton {
	background-color: #4CAF50;
	color: white;
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	transition: transform 0.2s, background-color 0.3s;
}

.ModalCloseButton {
	background-color: #ff3e3e;
}

.ModalSaveButton:hover {
	background-color: #45a049;
	transform: scale(1.05);
}

.ModalCloseButton:hover {
	background-color: #ff1e1e;
	transform: scale(1.05);
}

/* Responsive styles */
@media (max-width: 768px) {
	.FormularioPrincipal {
		padding: 20px;
		max-width: 90%;
	}

	.todo-counter {
		font-size: 1.5rem;
	}

	.ModalContent {
		padding: 20px;
		width: 95%;
	}
}

@media (max-width: 480px) {
	.LogoContainer {
		top: -80px;
		left: 10px;
		transform: translate(0, 0);
	}

	.Logo {
		max-width: 20px !important;
	}

	.todo-counter {
		font-size: 1.2rem;
	}

	.todo-item span {
		font-size: 1.2rem;
	}

	.create-todo-button {
		width: 50px;
		height: 50px;
		font-size: 1.5rem;
	}
}
